section.form {
  background-color: white;
  padding: 1em 2em;
  padding-bottom: 2em;
}

section.form h2 {
  text-transform: capitalize;
}

section.form ul {
  padding-left: 0em;
}

section.form li {
  list-style: none;
  padding-bottom: 1em;
}

section.form label {
  display: inline-block;
  width: 5em;
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.8em;
	font-weight: bold;
	text-transform: capitalize;
}

section.form textarea {
  width: 80%;
  padding: 0.3em 0.7em
}

section.form ul {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

section.form ul.attributes li {
  margin-bottom: 0.7em;
}

section.form li input {
  width: 80%;
  padding: 0.3em 0.7em
}

section.form ul.attributes li select {
  width: 9em;
}

section.form li option {
  padding: 0.3em 0.7em;
  font-size: 0.9em;
}

section.form div.form-footer {
  border-top: 1px solid lightgrey;
  text-align: right;
}

section.form label {
  vertical-align: top;
}
