body, textarea {
        font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
}

select, input {
  font-size: 1em;
}

table {
  font-size: 0.8em;
}

th {
  text-transform: capitalize;
  text-align: left;
}

th, td {
  padding: 12px 9px;
}

section.hypothesis tbody td {
  border: 1px solid black;
}

section.hypothesis thead th {
  background-color: lightgrey;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

section.hypothesis td.description {
  width: 60%;
}
section.hypothesis td.persona {
  width: 20%;
}
section.hypothesis td.outcome {
  width: 20%;
}
section.hypothesis tbody tr:hover {
  background-color: lightgrey;
  cursor: pointer;
}

section.hypothesis tfoot td.action {
  text-align: center;
}



.hide {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

div.body {
  padding: 0.5em 1em;
  position: absolute;
  left: 9em;
  right: 3em;
}

body.showForm div.body, body.showForm header, body.showForm section, body.showForm footer {
  background-color: grey;
  opacity: 0.6;
}

section.form {
  background-color: white;
  padding: 1em 2em;
  padding-bottom: 2em;
}

section.form h2 {
  text-transform: capitalize;
}

section.form ul {
  padding-left: 0em;
}

section.form li {
  list-style: none;
  padding-bottom: 1em;
}

section.form li label {
  display: inline-block;
  width: 5em;
  text-align: right;
  padding-right: 0.5em;
}

section.form li textarea {
  width: 80%;
}

section.form div.form-footer {
  border-top: 1px solid lightgrey;
  text-align: right;
}

section.hypothesis-form li.description label {
  vertical-align: top;
}

button.action {
  margin-top: 0.2em;
  margin-right: 0.2em;
  padding: 6px 9px;
}
