body, textarea {
        font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
}

select, input {
  font-size: 1em;
}

.hide {
  display: none;
}

body {
  padding: 0;
  margin: 0;
}

div.body {
  padding: 0.5em 1em;
  position: absolute;
  left: 9em;
  right: 3em;
}

body.showForm div.body, body.showForm header, body.showForm section, body.showForm footer {
  background-color: grey;
  opacity: 0.6;
}

button.action {
  margin-top: 0.2em;
  margin-right: 0.2em;
  padding: 6px 9px;
}

div.pane {
	display: inline-block;
	vertical-align: top;
}

div.left {
	width: 8em;
}

div.body h1 {
	margin-top: 0;
}

div.left li {
	font-size: 0.8em;
}

/******************************************************************************/
.side-menu a {
	font-weight: bold;
	display: block;
}

.side-menu a.selected {
	background-color: white;
}

.side-menu {
	background-color: lightgrey;
	height: 100%;
}

.side-menu h2 {
	font-size: 0.8em;
	padding-left: 1em;
}

/******************************************************************************/
.body header nav {
	border-bottom: 1px solid lightgrey;
}

.body header nav a {
	display: inline-block;
}

.body header nav a.selected {
	border-bottom: 1px solid black;
}

nav a:hover {
	text-decoration: underline;
}

nav a {
	cursor: pointer;
	padding: 0.5em 1em;
	font-size: 0.8em;
}

/******************************************************************************/
div.body {
	padding: 0;
}

.body section {
	padding: 0.5em 1em;
}

section ul.top-level-list {
	padding-left: 1em;
	margin-bottom: 0;
}

section ul.top-level-list li {
	cursor: pointer;
}

a.action {
	font-weight: bold;
	font-size: 0.8em;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
a.action:hover {
	text-decoration: underline;
}
